{:moodle-db {:subprotocol "postgresql"
             :subname "//kirk-direct/moodletestX_vlacs_org"
             :user "user"
             :password "password"}
 :comps-dir "/tmp/rollout-files/comps/"
 :content-path "/tmp/rollout-files/ContentExport.csv"
 :dummy-compid "-1" ; old pods will be matched up by hand later
 :se-origin "showevidence"
 :se-pod-type 4
}
